{% extends 'homepage/base.html' %}

{% block content %}
    <h2>Login form </h2>

    <form id="loginForm">
        {% csrf_token %}
        <div class="mb-3 col-md-4">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" id="username">
            <div id="usernameError" ></div>
        </div>
        
        <div class="mb-3 col-md-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
            <div id="passwordError" ></div>

        </div>
            
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    </form>
    
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Evita o envio padrão do formulário

        formData = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value,
        }

        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value; // Get the CSRF token

        fetch('/login/loginAPI/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify(formData)
            })
            .then(response => {
            if (response.ok) {
                return response.json(); // Parse the response JSON
            } 
            else {
                return response.json().then(errorData => {
                // Lança um erro com os dados detalhados da resposta
                    throw errorData;

                        }
            )}
            
            })
            .then(data => {
                if (data.message) {
                    alert(data.message); 
                    window.location.href = data.redirect_url;
                }
            })
            .catch(errorData => {
                document.getElementById('usernameError').innerText = "";
                document.getElementById('passwordError').innerText = "";

                document.getElementById('usernameError').classList.remove("alert", "alert-danger");
                document.getElementById('passwordError').classList.remove("alert", "alert-danger");

                if (errorData.username){
                    document.getElementById('usernameError').innerText = errorData.username;
                    document.getElementById('usernameError').classList.add("alert", "alert-danger");
                }
                if (errorData.password){
                    document.getElementById('passwordError').innerText = errorData.password;
                    document.getElementById('passwordError').classList.add("alert", "alert-danger");

                }
                
            });
            });
    </script>
{% endblock %}